#banner {
  /* font-family: 'Vast Shadow', cursive;
  font-family: 'Bungee Shade', cursive; */
  font-family: "Fascinate Inline", cursive;
  font-size: 75px;
  background-image: url("../images/1.jpg");
  color: yellow;
  width: 100%;
  text-align: center;
}

.character {
  float: left;
  display: inline-block;
  text-align: center;
  height: 200px;
}

div.character {
  margin: 35px 20px 40px 20px;
  max-height: 200px;
}

.p {
  margin: 50px;
}

.character-btn {
  margin: 3px;
}

#buttons-view {
  margin: 5px 5px 5px 0;
  padding: 5px;
}

.character-btn {
  border-style: solid;
  border-color: black;
  background-color: black;
  color: yellow;
}

.p {
  clear: both;
}

#character-form {
  background-color: blue;
  color: white;
  margin: 5px;
  padding: 5px;
}

#add-character {
  background-color: yellow;
  color: black;
}

#character-input {
  font-family: "Bungee Shade", cursive;
  color: green;
}

.searchBar {
  margin: 0 auto;
}
